@font-face {
  font-family: Poppins;
  src: url(../public//static/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins Bold;
  src: url(../public//static/Poppins/Poppins-Bold.ttf);
}



body{
  background-color: #eee !important;
  font-family: "Poppins";
  min-height: 100vh !important;

}
a{
  text-decoration: none !important;
  color: inherit !important
}

 div {
  font-family: "Poppins";

}
h1{
  font-family: Poppins Bold
}

.pointer{
  cursor: pointer
}

.card-img{
  height: 250px;
  background-size: contain;
}

.alignYCeter{
  display: flex;
  align-items: center;
}


.input-label{

}
.menu li{
  transition: all .3s ease-in-out;

}
.menu li:hover{
  transition: all .3s ease-in-out;
  background-color: #eee;
}

.menu{
  height: 70vh;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100% !important;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
  top:90px;
  margin-left: -25px;
  z-index: 4;
}
.menu.show{
  transition: all .3s ease-in-out;
  transform: scaleX(1);

}
.upload-btn{
  width: 100px;
  border-radius: 10px;
  height:80px;
  background-color: #e8f0fe;
  color: #1967d2;
}

.camera-view{
  width: "100%";
  background-color: #eee;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBtn{
  background-color: transparent;
  border: none;
  outline: none;
}